body {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	color: black;
	font-weight: normal;
	font-family: "PT Sans", Arial, sans-serif;
}

.visually_hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.site-navigation .active {
	color: #766357;
}

.site-navigation a:hover, .site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.description_header {
	font-size: 21px;
	font-weight: bold;
}

.description_reasons {
	color: #333333;
}

.reason {
	background-color: #81b3d2;
}

.reason_text {
	line-height: 21px;
	color: white;
}

.reason_text h3 {
	font-size: 21px;
	line-height: 21px;
	color: white;
	font-weight: bold;
}

.feature {
	line-height: 21px;
	color: #333333;
}

.feature h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.grey {
	background-color: #eeeeee;
	
}

.grey .reason_text {
	color: black;
}

.grey .reason_text h3{
	color: black;
}

.find {
	font-weight: bold;
}

.find p {
	line-height: 24px;
	color: #333333;
}

.find h2{
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.map {
	background: url("../img/map.jpg") no-repeat;
}

.link {
	background-color: #766357;
}

.link a{
	font-size: 21px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.link a:hover, .link a:focus {
	background-color: #604e43;
}

.link a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.button_find button {
	background-color: #81b3d2;
	border: none;
	color: white;
	text-transform: uppercase;
	font-size: 21px;
	line-height: normal;
	font-weight: bold;
}

.button_find button:hover, .button button:focus {
	background-color: #669ec0;
}

.button_find button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.hashtag a {
	font-size: 21px;
	line-height: normal;
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.social {
	background-color: #81b3d2;
}

.soc a:hover, .soc a:focus {
	background-color: #669ec0;
}

.soc a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.params input {
    background-color: #f2f2f2;
	text-transform: uppercase;
	line-height: normal;
	font-weight: bold;
}

.params input:hover {
    background-color: #ebebeb;
}

.params input:focus {
	 background-color: #ffffff;
 }
 
.params {
	background: url("../img/fon.jpg") no-repeat #0066cc ;
}

.params h2 {
	font-size: 16px;
	line-height: 21px;
	color: white;
	font-weight: bold;
}

.params label {
	line-height: 21px;
	color: white;
}

.params button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.params button:hover, .params button:focus {
	background-color: #ffffff;
	color: #000000
}

.sorting h2 {
	font-size: 21px;
	font-weight: bold;
}

.sorting_option {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

.sorting-list {
	list-style: none;
}

.sorting-list a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-bottom: 1px dashed #81b3d2;
}

.sorting-list a:hover, .sorting-list a:focus {
	color: #81b3d2;
}

.sorting-list a:active {
	color: black;
	border-bottom: none;
}

.sorting-list .current {
	color: #81b3d2;
	text-decoration: none;
	border-bottom: none;
}

.result {
	line-height: 21px;
	color: #333333;
}

.hotel_info h2 a {
	font-size: 21px;
	font-weight: bold;
	color: black;
}

.hotel_info h2 a:hover, .hotel_info h2 a:focus {
	color: #81b3d2;
}

.hotel_info h2 a:active {
	color: rgba(0, 0, 0, 0.3);
}

.more {
	background-color: #81b3d2;
}

.reserv {
	background-color: #766357;
}

.result a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.more a:hover, .more a:focus {
	background-color: #669ec0;
}

.more a:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.reserv a:hover, .reserv a:focus {
	background-color: #604e43;
}

.reserv a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.score {
	background-color: #f2f2f2;
}

.score p {
	color: #666666;
}